<div class="container mt-4">

<div class="card">
    <h1>Register</h1>

<form>
    <div class="form-group">
      <input type="text" class="form-control" id="phone" placeholder="phone number">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="customer" placeholder="enter full name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="typeofservice" placeholder="password">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="total" placeholder="confirm password">
      </div>
    <button type="submit" class="btn btn-primary mt-4">Register</button>
  </form>
  </div>
  <div>
